main {
    margin-left: 10px;
}

.cta-large {
    font-size: 30px;
    background-color: #0052B5;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 50px;
}

.user-information {
    display: flex;
}

.profile-picture {
    border: 3px solid #D77E13;
}

@media (min-width: 300px) and (max-width: 420px) {
    .user-information {
        display: flex;
        flex-direction: column;

    }
}
