h3 {
    color: black;
}

.films-link {
    border-bottom: 3px solid #D77E13;
}

.browser-container {
    margin: 5px;
}

.main-content:nth-child(1){grid-area: main-section-one;}
.main-content:nth-child(2){grid-area: main-section-two;}
.main-content:nth-child(3){grid-area: main-section-three;}

.main-content {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'main-section-one main-section-three'
    'main-section-two main-section-three'
    'main-section-two main-section-three'
    ;
}

.movie:nth-child(1){grid-area: movie-section-one;}
.movie:nth-child(2){grid-area: movie-section-two;}
.movie:nth-child(3){grid-area: movie-section-three;}
.movie:nth-child(4){grid-area: movie-section-four;}
.movie:nth-child(5){grid-area: movie-section-five;}
.movie:nth-child(6){grid-area: movie-section-six;}
.movie:nth-child(7){grid-area: movie-section-seven;}
.movie:nth-child(8){grid-area: movie-section-eight;}
.movie:nth-child(9){grid-area: movie-section-nine;}

.movie-section {
    display: grid;
    gap: 20px;
    padding: 10px;
    grid-template-areas:
    'movie-section-one movie-section-two movie-section-three'
    'movie-section-four movie-section-five movie-section-six'
    'movie-section-seven movie-section-eight movie-section-nine'
}


.movie-images {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border: 3px solid #D77E13;
}

.movie-search {
    display: flex;
}

#search-films {
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid #D77E13;
    border-radius: 5px;
}

[type="checkbox"]{
    border: 5px solid #D77E13;
}

.categories {
    margin-top: 10px;
}

