.main-content {
    display: flex;
    margin: 5px;
}

.main-text {
    margin: 5px;
}

.main-image {
    margin: 5px;
    border: 4px solid #D77E13;
}

.home-link {
    border-bottom: 3px solid #D77E13;
}